.thumbnail {
            position: relative;
}

.caption {
    position: absolute;
    top:0;
    left:0;
    text-decoration: none;
}
body{
    color:rgb(139, 159, 181);
    }
.thumbnail {
    position: relative;
    padding: 0;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    background:rgb(30, 44, 64);
    border: rgb(53, 78, 108);
    border-radius:3px;
    box-shadow: #0b2e13;
    border: 1px;
}

.lv{
    background: #23272b;
    opacity: 70;
    width: 20%;
    text-align: center;
    }

.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
}
.nav-tabs > li > a {
  color: #575757;
}
.rank{
    background:rgb(30, 44, 64);
    border: rgb(53, 78, 108);
    border-radius:3px;
    box-shadow: #0b2e13;
    border: 1px;
}
.headerprofile{
    padding:30px;
    background:rgb(30, 44, 64)
}

a:link{
    text-decoration: none;
}

/*!*<style>*!*/
        /*!*.bg {*!*/
            /*padding-top: 10px;*/
            /*padding-left: 150px;*/
            /*padding-right: 150px;*/
            /*background:rgba(30, 44, 64,0.75);*/

        /*!*}*!*/
        /*!*.n-blur{*!*/
           /*!*filter: blur(10px);*!*/
        /*!*}*!*/

    /*!*</style>*!*/